/*Police des liens du header 'Lemon'*/


.Header{
    background-color: rgb(232, 238, 243);
    height: 100px;
    
}
ul{

    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    list-style: none;
    
}
a{
    text-decoration: none;
}
li{
    font-family: 'Lemon', serif;
    font-size: x-large;
}
